:root {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-bg: #343D4B;
  --color-bg-main: #222831;
  --color-bg--dark: #272E37;
  --btn-bg-gradient: linear-gradient(131deg, rgba(144, 217, 224, 0.9) 0%, rgba(84, 96, 230, 0.9) 100%);
  --btn-bg-gradient--inverted: linear-gradient(231deg, rgba(144, 217, 224, 0.9) 0%, rgba(84, 96, 230, 0.9) 100%);
  --font: "Montserrat", sans-serif;
}

body {
  color: var(--color-primary);
  font-family: var(--font), serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
}